<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>ng Cat!</h1>
    <p class="lead">not just another hair eater :)</p>
    <div class="col-sm-4 col-sm-offset-4">
      <img id="felixTheCat" class="img-responsive img-rounded" src="assets/images/felix_welcome.png" alt="felix">
    </div>
  </div>
</header>

<div class="container">
  <br/>
  <div class="row">
    <div class="col-sm-12 well well-sm">

      <!-- show here list of available libraries -->
      <h3>Available Modules</h3>
      <ul>
        <li>Social Buttons</li>
        <li>Simple Editor</li>
        <li>Simple Table</li>
      </ul>

    </div>
  </div>
  <div class="row">
    <h2>Social buttons</h2>
    <div class="col-sm-12 well well-sm">
      <ul>
        <li>Twitter: <twitter-button></twitter-button></li>
        <li>Facebook: <facebook-button></facebook-button></li>
        <li>Google Plus: <gplus-button action="share" annotation="bubble"></gplus-button></li>
      </ul>
    </div>

    <h2>Simple Editor</h2>
    <div class="col-sm-12 well well-sm">
      <div editable ng-model="mainContent"></div>
    </div>

    <h2>Phone Prefix</h2>
    <div class="col-sm-12 well well-sm">
      <div input-phone default-country='GB'></div>
    </div>

    <h2>Simple Table</h2>
    <div class="col-sm-12 well well-sm">
      <ng-table class="well well-sm" items="items" headers="headers" paginator="paginator" checkboxes="true"></ng-table>
    </div>
  </div>

  <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<h1 class="page-header">Features:</h1>-->
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

  <!--<form class="thing-form">-->
    <!--<label>Syncs in realtime across clients</label>-->
    <!--<p class="input-group">-->
      <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">-->
      <!--<span class="input-group-btn">-->
        <!--<button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>-->
      <!--</span>-->
    <!--</p>-->
  <!--</form>-->
<!--</div>-->

<footer class="footer">
  <div class="container">
      <p>ng Cat library v0.1.0 |
        <a href="https://twitter.com/CavaliereDavide">@CavaliereDavide</a> |
         <a href="https://github.com/davidecavaliere/ng-cat/issues">Issues</a></p>
  </div>
</footer>
